//color variables
$primary-color: #58e1c1;
$primary-text-color: #777;
$blue-color: #51ddfc;
$btn-text-color: #fff;

$red-color: #e4757a;
$info-btn-color: #927bc1;
$green-color: #63cc82;
$orange-color: #fd7856;

$font-stack: "Lato", sans-serif;

$min-width: 768px;
